body {
  background: linear-gradient(to bottom right, #490000, #ff0000);
  color: white;
  display: flex;
  flex-direction: column;
}

.header-custom {
  background-color: #c00000;
}

.header-custom .navbar-brand,
.header-custom .nav-link {
  color: white;
  font-family: "Inter", sans-serif !important;
  font-size: 1.2rem;
}

.main-content {
  flex: 1;
  margin-right: 10px;
}

.footer-custom {
  width: 100%;
  background-color: #373f41;
  color: white;
  padding: 20px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; /* Puedes ajustar el ancho máximo según tus necesidades */
  margin: 0 auto;
}

.footer-left {
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
}

.footer-right {
  display: flex;
  align-items: flex-start;
}

.footer-column {
  display: flex;
  flex-direction: column;
  margin-left: 23px; /* Ajusta el espacio entre las columnas según sea necesario */
  margin-right: 60px;
}

.foot-link {
  color: white;
  text-decoration: none;
  margin: 10px 0; /* Ajusta el margen entre los enlaces según sea necesario */
}

.foot-link:hover {
  text-decoration: underline;
}

.footer-custom img {
  display: block;
  padding-top: 0;
}

.menu-container {
  position: relative;
}

.sidebar {
  position: fixed;
  right: 0; /* Fijado a la derecha */
  top: 0; /* Ajustado para estar justo debajo del Header */
  bottom: 0; /* Llega hasta el fondo de la página */
  background-color: #b6b6b6;
  width: 50px;
  transition: width 0.5s ease;
  overflow: hidden;
  color: white;
  font-family: Arial, sans-serif;
  z-index: 1000;
  border-radius: 25px 0 0 25px; /* Bordes redondeados */
}

.sidebar:hover {
  width: 600px; /* Ajusta este valor según tus necesidades */
}

.red-rectangle {
  position: relative; /* Asegura que .cart-rectangle se posicione en relación a .red-rectangle */
  height: 300px;
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  padding: 150px; /* Espacio interno */
  background: linear-gradient(to right, #350000, #ec0000);
  margin-top: 0px; /* Espacio desde el header */
  margin-bottom: 350px; /* Espacio desde el footer */
}

.payment-red-rectangle {
  position: relative; /* Asegura que .cart-rectangle se posicione en relación a .red-rectangle */
  height: 300px;
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  padding: 150px; /* Espacio interno */
  background: linear-gradient(to right, #350000, #ec0000);
  margin-top: 0px; /* Espacio desde el header */
  margin-bottom: 600px; /* Espacio desde el footer */
}

.cart-rectangle {
  position: absolute; /* Permite colocar .cart-rectangle encima de .red-rectangle */
  top: 53%; /* Ajusta esta propiedad según la posición deseada */
  left: 29%; /* Mueve el rectángulo más hacia la izquierda */
  transform: translate(-50%, -50%); /* Centra verticalmente */
  background-color: #ffffff; /* Color de fondo blanco */
  border-radius: 10px; /* Bordes redondos */
  padding: 20px; /* Espacio interno */
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  height: 250px; /* Ajusta la altura según sea necesario */
  width: 800px; /* Ajusta el ancho según sea necesario */
  color: #373f41;
  display:flex;
  justify-content: center;
}

.ticket-rectangle {
  position: absolute; /* Permite colocar .cart-rectangle encima de .red-rectangle */
  top: 55%; /* Ajusta esta propiedad según la posición deseada */
  left: 29%; /* Mueve el rectángulo más hacia la izquierda */
  transform: translate(-50%, -50%); /* Centra verticalmente */
  background-color: #ffffff; /* Color de fondo blanco */
  border-radius: 10px; /* Bordes redondos */
  padding: 20px; /* Espacio interno */
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  height: 250px; /* Ajusta la altura según sea necesario */
  width: 800px; /* Ajusta el ancho según sea necesario */
}

.red-rectangle h1, .payment-red-rectangle h1 {
  position: absolute;
  left: 40px; /* Ajusta este valor para mover el <h1> más hacia la derecha */
  top: 20px; /* Ajusta este valor para mover el <h1> más hacia abajo */
  font-size: 32px;
}

.red-rectangle h2, .payment-red-rectangle h2 {
  position: absolute;
  left: 43px; /* Ajusta este valor para mover el <h2> más hacia la derecha */
  top: 70px; /* Ajusta este valor para mover el <h2> más hacia abajo */
  font-size: 26px; /* Tamaño de fuente del <h2> */
}

.tabla-products {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eaecec;
  border-radius: 10px;
  padding: 20px;
  height: 50px;
  width: 730px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabla-products a {
  font-size: 13px;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.tabla-products .last-items {
  margin-left: auto; /* Mueve el último grupo de elementos a la derecha */
}

.products {
  position: absolute;
  top: 38%;
  left: 49%;
  transform: translate(-50%, -50%);
  padding: 20px;
  height: 50px;
  width: 730px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-group,
.right-group {
  display: flex;
  gap: 10px; /* Ajusta el espacio entre los elementos dentro de cada grupo */
}

.products p {
  font-size: 12px;
  color: #000000;
  text-decoration: none;
  font-weight: 625;
  padding: 10px;
  margin: 0;
  text-align: center;
}

.payment {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c00000;
  color: white;
  border-radius: 10px;
  padding: 20px;
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  font-weight: 625;
  text-decoration: none;
  transition: background-color 0.3s;
}

.payment:hover {
  background-color: #979797; /* Color de fondo al pasar el ratón */
}

/* Estilos para el formulario de pago */
.payment-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.payment-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.payment-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.payment-form button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 130px;
}

.payment-form button[type="submit"]:hover {
  background-color: #45a049;
}

.red-rectangle {
  background-color: #ec0000;
  color: white;
  text-align: center;
  padding: 20px;
}

.payment-rectangle {
  position: absolute;
  top: 99%; /* Ajusta esta propiedad para la posición vertical deseada */
  left: 25%; /* Centra el rectángulo horizontalmente */
  transform: translate(-50%, -50%); /* Centra el rectángulo */
  height: 500px; /* Ajusta la altura según sea necesario */
  width: 800px; /* Ajusta el ancho según sea necesario */
  background-color: #eaecec00; /* Color de fondo */
  border-radius: 10px; /* Bordes redondeados */
  color: #373f41;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Asegura que los elementos dentro del rectángulo se alineen en columna */
  padding: 20px;
}

.method p {
  position: absolute;
  top: 66%; /* Ajusta esta propiedad para estar justo encima del rectángulo */
  left: 24%;
  transform: translate(-50%, -150%); /* Centra horizontalmente y ajusta verticalmente */
  font-size: 20px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  color: #373f41; /* Color del texto */
  margin-bottom: 20px; /* Añade un margen inferior si es necesario */
}

.method h1 {
  position: absolute;
  top: 65%; /* Ajusta esta propiedad para estar justo encima del rectángulo */
  left: 70%;
  transform: translate(-50%, -150%); /* Centra horizontalmente y ajusta verticalmente */
  font-size: 20px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
  color: #373f41; /* Color del texto */
  margin-bottom: 20px; /* Añade un margen inferior si es necesario */
}

.method-multired {
  position: absolute;
  top: 98%; /* Ajusta esta propiedad para estar justo encima del rectángulo */
  left: 70%;
  transform: translate(-50%, -150%);
}

.method-yape {
  position: absolute;
  top: 120%; /* Ajusta esta propiedad para estar justo encima del rectángulo */
  left: 65%;
}

.method-pago-efectivo {
  position: absolute;
  top: 87%; /* Ajusta esta propiedad para estar justo encima del rectángulo */
  left: 50.26%;
}

.payment-info-rectangle {
  position: absolute; /* Permite colocar .cart-rectangle encima de .red-rectangle */
  top: 33%; /* Ajusta esta propiedad según la posición deseada */
  left: 70%; /* Mueve el rectángulo más hacia la izquierda */
  transform: translate(-50%, -50%); /* Centra verticalmente */
  background-color: #ffffff; /* Color de fondo blanco */
  border-radius: 10px; /* Bordes redondos */
  padding: 20px; /* Espacio interno */
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  height: 220px; /* Ajusta la altura según sea necesario */
  width: 300px; /* Ajusta el ancho según sea necesario */
  color: #373f41;
  display: flex;
  flex-direction: column; /* Asegura que los elementos se alineen en columna */
  align-items: center; /* Centra los elementos horizontalmente */
}

.payment-info-rectangle h1 {
  font-size: 20px; /* Tamaño de fuente */
  font-weight: 625; /* Negrita */
  color: #373f41; /* Color del texto */
  margin-bottom: 10px; /* Reduce el margen inferior para acercar el h2 */
  text-align: center; /* Alinea el texto al centro */
}

.payment-info-rectangle h2 {
  font-size: 14px; /* Tamaño de fuente */
  font-weight: 625; /* Negrita */
  color: #373f41; /* Color del texto */
  align-self: flex-start; /* Alinea el texto a la izquierda */
  margin-left: 20px; /* Añade un margen izquierdo para mejor alineación */
  margin-top: 0px; /* Reduce el margen superior para mover hacia arriba */
  text-align: left; /* Alinea el texto a la izquierda */
}

.payment-info-rectangle h3 {
  font-size: 14px; /* Tamaño de fuente similar al h2 */
  font-weight: 500; /* Negrita */
  color: #373f41; /* Color del texto */
  align-self: flex-start; /* Alinea el texto a la izquierda */
  margin-left: 20px; /* Añade un margen izquierdo para mejor alineación */
  margin-top: 5px; /* Espacio entre h2 y h3 */
  text-align: justify; /* Alinea el texto a la izquierda */
  padding-right: 15px;
}

.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main-title h1 {
  font-family: "Inter", sans-serif !important;
  margin-top: 20px;
}

.search-bar {
  width: 50%;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-family: "Inter", sans-serif !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.3s ease;
}

.search-bar:focus {
  border-color: #66afe9;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.search-results {
  width: 50%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  max-height: 200px;
  overflow-y: auto;
  color:#373f41;
  font-family: "Inter", sans-serif !important;
}

.search-result-item {
  padding: 10px;
  font-size: 16px;
  border-bottom: 1px solid #eee;
  color:#373f41;
  font-family: "Inter", sans-serif !important;
  cursor: pointer;

}

.search-result-item:last-child {
  border-bottom: none;
}

.search-result-item:hover {
  background-color: #f1f1f1;
}

.tasa-red-rectangle {
  position: relative; /* Asegura que .cart-rectangle se posicione en relación a .red-rectangle */
  height: 300px;
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  padding: 150px; /* Espacio interno */
  background: linear-gradient(to right, #350000, #ec0000);
  margin-top: 0px; /* Espacio desde el header */
  margin-bottom: 350px; /* Espacio desde el footer */
}

.tasa-red-rectangle h1{
  position: absolute;
  left: 40px; /* Ajusta este valor para mover el <h1> más hacia la derecha */
  top: 20px; /* Ajusta este valor para mover el <h1> más hacia abajo */
  font-size: 32px;
}

.tasa-red-rectangle h2{
  position: absolute;
  left: 40px; /* Ajusta este valor para mover el <h1> más hacia la derecha */
  top: 90px; /* Ajusta este valor para mover el <h1> más hacia abajo */
  font-size: 25px;
}

.tasa-red-rectangle h3{
  position: absolute;
  left: 40px; /* Ajusta este valor para mover el <h1> más hacia la derecha */
  top: 120px; /* Ajusta este valor para mover el <h1> más hacia abajo */
  font-size: 20px;
}

.tasa-rectangle {
  position: absolute; /* Permite colocar .cart-rectangle encima de .red-rectangle */
  transform: translate(-50%, -50%); /* Centra verticalmente */
  border-radius: 10px; /* Bordes redondos */
  padding: 20px; /* Espacio interno */
  box-shadow: 30 30px 30px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  width: 800px; /* Ajusta el ancho según sea necesario */
  top: 410px;
  left: 27.5%;
  margin: 20px;
  background-color: #f7f7f7;
  color: #373f41;
  font-family: "Inter", sans-serif !important;
  height:400px;
}

.tasa-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tasa-form .form-group {
  margin-bottom: 15px;
}

.tasa-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.tasa-form input[type="text"] {
  width: 100%; /* Por defecto, los inputs ocupan todo el ancho del contenedor flex */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #e9ecef;
}

.tasa-form input[type="text"]:read-only {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.tasa-form input[type="text"]:not([readOnly]) {
  background-color: #fff;
}

/* Clases específicas para cada input para controlar su ancho */
.input-full {
  width: 100%;
}

.flex-half {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.flex-half .form-group {
  flex: 1;
}

.add-cart {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #c00000;
  color: white;
  border-radius: 10px;
  padding: 10px;
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  font-weight: 625;
  text-decoration: none;
  transition: background-color 0.3s;
}

.add-cart:hover {
  background-color: #979797; /* Color de fondo al pasar el ratón */
}

.carousel-container {
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 5%;
  position:relative;
  width: 90%;
}

.carousel-item { 
  align-items: center;
  justify-content: center;
}

.carousel-item img {
  margin-left: 10%;
}

.carousel-caption {
  position: absolute;
  max-width: 30%; /* Ajusta el ancho del caption según sea necesario */
  margin-left: 5%;
  text-align: center;
  color: #ffffff; /* Color del texto, ajusta según el diseño */
  font-family: "Inter", sans-serif !important;
  font-size: 1.2rem;
  margin-left: 40%;
  margin-bottom: 10%;
}

.carousel-caption h3 {
  font-size: 1.5rem; /* Ajusta el tamaño de la fuente */
  
}

.carousel-caption p {
  font-size: 2rem; /* Ajusta el tamaño de la fuente */
  font-weight: bold;
}

.logo-container {
  margin-left:20%;
  margin-top: 5%;
}

.sidebar-rectangle1 {
  display:flex;
  position: absolute; /* Permite colocar .cart-rectangle encima de .red-rectangle */
  top: 23%; /* Ajusta esta propiedad según la posición deseada */
  left: 52%; /* Mueve el rectángulo más hacia la izquierda */
  transform: translate(-50%, -50%); /* Centra verticalmente */
  background-color: #ffffff; /* Color de fondo blanco */
  border-radius: 10px; /* Bordes redondos */
  padding: 20px; /* Espacio interno */
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  height: 8%; /* Ajusta la altura según sea necesario */
  width: 80%;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  opacity:0;
  transition: opacity 0.2s ease;
}

.sidebar-rectangle2 {
  position: absolute; /* Permite colocar .cart-rectangle encima de .red-rectangle */
  top: 36%; /* Ajusta esta propiedad según la posición deseada */
  left: 52%; /* Mueve el rectángulo más hacia la izquierda */
  transform: translate(-50%, -50%); /* Centra verticalmente */
  background-color: #ffffff; /* Color de fondo blanco */
  border-radius: 10px; /* Bordes redondos */
  padding: 20px; /* Espacio interno */
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  height: 8%; /* Ajusta la altura según sea necesario */
  width: 80%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:0;
  transition: opacity 0.2s ease;
}

.sidebar-rectangle3 {
  position: absolute; /* Permite colocar .cart-rectangle encima de .red-rectangle */
  top: 49%; /* Ajusta esta propiedad según la posición deseada */
  left: 52%; /* Mueve el rectángulo más hacia la izquierda */
  transform: translate(-50%, -50%); /* Centra verticalmente */
  background-color: #ffffff; /* Color de fondo blanco */
  border-radius: 10px; /* Bordes redondos */
  padding: 20px; /* Espacio interno */
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  height: 8%; /* Ajusta la altura según sea necesario */
  width: 80%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:0;
  transition: opacity 0.2s ease;
}

.sidebar-rectangle4 {
  position: absolute; /* Permite colocar .cart-rectangle encima de .red-rectangle */
  top: 62%; /* Ajusta esta propiedad según la posición deseada */
  left: 52%; /* Mueve el rectángulo más hacia la izquierda */
  transform: translate(-50%, -50%); /* Centra verticalmente */
  background-color: #ffffff; /* Color de fondo blanco */
  border-radius: 10px; /* Bordes redondos */
  padding: 20px; /* Espacio interno */
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  height: 8%; /* Ajusta la altura según sea necesario */
  width: 80%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:0;
  transition: opacity 0.2s ease;
}

.sidebar-rectangle5 {
  position: absolute; /* Permite colocar .cart-rectangle encima de .red-rectangle */
  top: 75%; /* Ajusta esta propiedad según la posición deseada */
  left: 52%; /* Mueve el rectángulo más hacia la izquierda */
  transform: translate(-50%, -50%); /* Centra verticalmente */
  background-color: #ffffff; /* Color de fondo blanco */
  border-radius: 10px; /* Bordes redondos */
  padding: 20px; /* Espacio interno */
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
  height: 8%; /* Ajusta la altura según sea necesario */
  width: 80%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity:0;
  transition: opacity 0.2s ease;
}

.sidebar-rectangle1 h1, .sidebar-rectangle2 h1,
 .sidebar-rectangle3 h1, .sidebar-rectangle4 h1, .sidebar-rectangle5 h1 {
  font-family: "Inter", sans-serif !important;
  font-size: 1.1rem;
  color: #373f41;
}

.sidebar:hover .sidebar-rectangle1,
.sidebar:hover .sidebar-rectangle2,
.sidebar:hover .sidebar-rectangle3,
.sidebar:hover .sidebar-rectangle4,
.sidebar:hover .sidebar-rectangle5 {
  opacity: 1;
}

/* Estilos para el fondo oscuro del modal */
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilos para el contenido del modal */
.modal-content {
  position: absolute;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  font-family: "Inter", sans-serif !important;
  color: #373f41;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-content h2 {
  margin-bottom: 20px;
  text-align: center;
}

.modal-content form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.modal-content .form-group {
  display: flex;
  flex-direction: column;
}

.modal-content label {
  margin-bottom: 8px;
}

.modal-content input[type="email"],
.modal-content input[type="text"],
.modal-content input[type="tel"],
.modal-content input[type="password"],
.modal-content select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.modal-content .form-group.full-width {
  grid-column: span 2;
}

.modal-content button {
  grid-column: span 2;
  padding: 12px 20px;
  background-color: #c00000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  justify-self: center;
}

.modal-content button:hover {
  background-color: #979797;
}

.modal-content .close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* Estilos adicionales */
.text-primary {
  color: #007bff;
}

.text-primary:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 1rem;
}

.modal-content-login {
  position: absolute;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  font-family: "Inter", sans-serif !important;
  color: #373f41;
  max-height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrar contenido horizontalmente */
}

.modal-content-login h2 {
  margin-bottom: 20px;
  text-align: center;
}

.modal-content-login form {
  width: 100%; /* Ocupa el ancho completo */
  max-width: 400px; /* Ancho máximo del formulario */
}

.modal-content-login .form-group {
  width: 100%;
  margin-bottom: 16px; /* Espacio entre grupos */
}

.modal-content-login label {
  margin-bottom: 8px;
}

.modal-content-login input[type="email"],
.modal-content-login input[type="text"],
.modal-content-login input[type="tel"],
.modal-content-login input[type="password"],
.modal-content-login select {
  width: 100%; /* Ancho completo */
  max-width: 100%; /* Ancho máximo */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.modal-content-login button {
  width: 40%; /* Ancho completo del contenedor */
  max-width: 400px; /* Ancho máximo del botón */
  padding: 12px 20px;
  background-color: #c00000;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px; /* Espacio arriba del botón */
  transition: 0.3s ease;
  margin-left: 30%;
}

.modal-content-login button:hover {
  background-color: #979797;
}


.modal-content-login .close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.check-rectangle {
  position: absolute;
  top: 79%; /* Cambia esta propiedad según la posición deseada */
  left: 29%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
  height: 600px;
  width: 800px;
}

.check-rectangle h3, h4, h5, h6 {
  font-size: 25px;
  color: #373f41;
  font-family: "Inter", sans-serif;
  margin: 0; /* Ajusta los márgenes según necesites */
  position: absolute;
  top: 26px; /* Ajusta esta propiedad según la posición deseada */
  left: 15%; /* Ajusta el margen izquierdo según sea necesario */
}

.check-rectangle h4 {
  top:130px;
  font-weight: bold;
  left:17%;
}

.check-rectangle img {
  top: 26px;
}

.check-red-rectangle {
  position: relative; /* Asegura que .cart-rectangle se posicione en relación a .red-rectangle */
  height: 300px;
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  padding: 150px; /* Espacio interno */
  background: linear-gradient(to right, #350000, #ec0000);
  margin-top: 0px; /* Espacio desde el header */
  margin-bottom: 570px; /* Espacio desde el footer */
}

.check-rectangle h5 {
  top:200px;
  font-weight: bold;
  left:10%;
  font-size: 19px;
  color:#000000;
}

.check-rectangle h6 {
  top:200px;
  font-weight: bold;
  left:50%;
  font-size: 19px;
  color:#373f41;
}